<section>
    <head>C.V.</head>
        <h1>ÁLVARO TORROBA DE LINOS</h1>
        <p>
            Estudiante de tercero en la Etsit
        </p>
    
        <img src="/images/foto.jpg" width="200"/>
      </section>