<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
        <hi>Welcome to My Blog </hi>
      </header>
      <nav>
          <a href="/">Home</a>
          <a href="/author">Autor</a>
      </nav>
   
      <%- body %>
  <footer>
      <hr>
      <small>CORE 2021/2022</small>
       <hr>
  </footer>
</body>
</html>